@use "../../../asset/style/" as *;
.custom-comment {
  &__author {
    color: rgba(0, 0, 0, 0.65) !important;
    font-weight: 600;
    margin-right: 16px;
    font-size: 15px;
    margin-bottom: 0;
  }

  &__content {
    font-size: 15px;
    color: #333;
    &--rep {
      color: #84cdf0;
    }
  }

  &__avatar {
    display: initial !important;
    img {
      width: 48px !important;
      height: 48px !important;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .custom-comment__date {
      color: #666;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .ant-comment-actions {
    margin-top: 0;
  }
}

.ant-comment-inner {
  padding: 8px 0;
}

.ant-divider-horizontal {
  margin: 8px 0;
}

.view-all-btn {
  color: $primary-color;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 6px;

  &:hover {
    span {
      text-decoration: underline;
    }
    cursor: pointer;
  }

  i {
    font-size: 13px;
  }
}
