@use "../../../asset/style/" as *;

.tested-modal {
  min-width: 640px;
  max-width: 90%;

  .tested-list {
    width: 760px;
    &__header {
      border-bottom: 1px solid #f1f1f1;

      h1 {
        font-size: 22px;
        font-family: $f-family-0;
        font-weight: 500;
        letter-spacing: 0.5px;
        span {
          font-size: 24px;
          color: $primary-color;
          font-family: $f-family-0;
        }
      }
    }
    &__main {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-item {
      position: relative;
      background-color: rgb(95 209 196 / 15%);
      // background: #f5f6f7;
      border-radius: 6px;
      padding: 12px 20px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__des {
        height: fit-content;
        p {
          margin-bottom: 0;
          font-weight: 600;
        }
      }

      &__record {
        color: $color-gray-2;
      }

      &__delete {
        position: absolute;
        right: 20px;
        top: 12px;
        color: $color-gray-2;
        &:hover {
          color: $color-red;
          cursor: pointer;
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 760px) {
  .tested-modal {
    width: 80vw;
    min-width: 0;
    max-width: 100%;
    .tested-list {
      width: 100%;
    }
  }
}
