@use "../../../asset/style/" as *;

.sign-in {
  &__form {
    &--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ant-checkbox-wrapper {
        span {
          font-size: 14px;
          font-family: $f-family-0;
          line-height: 16px;
        }
      }
      .ant-checkbox-wrapper:hover .ant-checkbox-inner {
        border-color: $primary-color;
      }
    }
  }
  &-forget {
    font-family: $f-family-0;
    line-height: 16px;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
}
