@use "../../../asset/style/" as *;

.button {
  margin-right: 15px;
  background: $primary-color;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 48px;
  padding: 0px 42px;
  display: flex;
  gap: 6px;
  align-items: center;
  height: fit-content;
  &:hover {
    background: $primary-color-dark;
    cursor: pointer;
  }

  &.outline {
    background: #ffffff;

    color: $primary-color;
    border: 1px solid $primary-color;
    &:hover {
      background: $primary-color;
      color: #ffffff;
      border: 1px solid transparent;
      cursor: pointer;
    }
  }
  &.small {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 32px;
    padding: 0px 22px;
  }

  &.disabled {
    color: $color-text-secondary;
    background-color: #fff !important;
    background-image: none;
    border-color: $color-text-secondary;
    &:hover {
      color: $color-text-secondary;
      background-color: #fff !important;
      background-image: none;
      border-color: $color-text-secondary;
      cursor: not-allowed;
    }
  }
}
