@use "../../../asset/style/" as *;
.comment-accordion {
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    color: $primary-color;
    padding: 0;
    background-color: transparent;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
  .ant-collapse-content {
    background-color: transparent;
    border-top: none;
  }
  .ant-collapse {
    border: none;
  }
}
