@use "../../asset/style/" as *;

.practice-sidebar {
  background-image: url(https://corptrain.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/header-search-bk.png?id=6825);
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    margin-top: 2px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(194, 196, 209);
  }
  &__container {
    padding: 18px 28px;
    min-height: 100vh;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      width: 86px;
      height: 86px;
    }
  }
  &__search {
    align-self: center;
    .ant-input-group > .ant-input:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    .ant-input-search .ant-input:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgb(96 211 198 / 20%);
    }
    .ant-input-search
      .ant-input:focus
      + .ant-input-group-addon
      .ant-input-search-button:not(.ant-btn-primary) {
      border-left-color: $primary-color;
    }
    .ant-btn:hover {
      border-color: $primary-color;
    }
    .ant-input-search
      > .ant-input-group
      > .ant-input-group-addon:last-child
      .ant-input-search-button {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0 8px 8px 0;
    }
    .ant-input-search .ant-input:hover {
      border-color: $primary-color;
    }
    .ant-btn {
      background-color: $primary-color;
      color: #fff;
      border-color: $primary-color;
    }
    .ant-input-search
      .ant-input:hover
      + .ant-input-group-addon
      .ant-input-search-button:not(.ant-btn-primary) {
      border-left-color: $primary-color;
    }
    .ant-input-search
      > .ant-input-group
      > .ant-input-group-addon:last-child
      .ant-input-search-button:not(.ant-btn-primary) {
      color: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .test-exam {
    &__container {
      padding: 15px 30px;
    }
  }
}
