@use '../../../../asset/style/' as *;

.reading {
  &-paragraph {
    margin-top: 12px;
    border: 1px solid rgb(213, 213, 213) !important;
    padding: 10px 20px !important;
    background-color: #fff;
    p {
      line-height: 2.4;
    }
  }
}