@use "../../asset/style/" as *;

.answer {
  margin-bottom: 30px;

  &__content {
    padding: 0 30px;
    color: $color-text;
    font-size: $fs-15;
    font-family: $f-family;
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
      // line-height: 1.4;
      margin: 0;
    }
    &--explanation {
      line-height: 1.4;
      font-size: 16px;
    }
    .custom-para {
      p {
        margin-top: 0;
      }
    }
    h5 {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
