.action-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;

  .action-comment__button {
    display: flex;
    gap: 20px;
    &-report {
      color: rgb(153, 153, 153);
      margin-left: 20px;
      border: none;
      span {
        font-size: 20px;
      }
      &:hover {
        transform: scale(1.3);
      }
    }

    &-reactions {
      color: rgb(153, 153, 153);
      margin-left: 20px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 6px;
      gap: 4px;
      span {
        font-size: 20px;
      }

      &-amount {
        font-size: 14px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
      }
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
