@use "../../asset/style/" as *;

.function-bar {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__left {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    &-switch {
      background-color: $primary-color;
    }
  }

  &__right {
    display: none;
    margin: 10px 0;
  }
  .ant-switch-checked {
    background-color: $primary-color;
  }
}

@media (max-width: 1000px) {
  .function-bar {
    &__right {
      display: flex;
      margin: 10px 0;
      gap: 20px;
    }
    &__btn {
      font-size: 30px;
      color: $primary-color;
      cursor: pointer;

      &--disabled {
        opacity: 0.4;
        cursor: auto;
      }
    }
  }
}
