@use "../../../asset/style/" as *;

.search-lesson {
  width: 100%;

  &__item {
    width: 100%;
    padding: 12px 0 0;
    &--head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      h3 {
        font-size: 16px;
      }
    }

    &--content {
      word-wrap: break-word;
      line-height: 1.4;
    }

    &--footer {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 12px;
      .button {
        margin-right: 0;
        a:hover {
          color: #fff;
        }
      }
    }
  }
}
