@use "../../../asset/style/" as *;

.word-highlight {
  display: inline-block;
  width: fit-content;
  padding: 2px 0;
  margin: 2px 0;

  &:hover {
    cursor: pointer;
  }

  &.checked {
    background-color: $primary-color-2;
  }

  &.right {
    background-color: #f0fffb;
    padding: 2px 16px 2px;
    border: 1px solid $primary-color;
    border-radius: 6px;
    color: $primary-color;

    i {
      font-size: 14px;
      color: $primary-color;
      margin-right: 8px;
    }
  }

  &.wrong {
    background-color: #ffdcdc;
    padding: 2px 16px 2px;
    border: 1px solid $color-red;
    border-radius: 6px;
    color: $color-red;

    i {
      font-size: 14px;
      color: $color-red;
      margin-right: 8px;
    }
  }

  &.default {
    background-color: #fafafa;
    padding: 2px 16px 2px;
    border: 1px solid $color-gray-2;
    border-radius: 6px;
    color: $color-gray-2;
  }

  &-answer {
    color: $color-yellow;
  }
}
