@use "../../../../asset/style/" as *;

.reading {
  &-paragraph {
    border: none !important;
    padding: 0 !important;
    margin-bottom: 0;
  }
  &-form {
    width: 100%;
    position: relative;
    &.disabled {
      textarea {
        border: none;
      }
    }
    &-redo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.ant-checkbox-wrapper {
  font-size: 16px;
  font-family: $f-family;

  &.right {
    span {
      &:nth-child(2) {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
  &.wrong {
    span {
      &:nth-child(2) {
        background-color: $color-red;
        color: #fff;
      }
    }
  }
  &.true {
    span {
      &:nth-child(2) {
        background-color: $primary-color-2;
      }
    }
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $primary-color;
  border-color: $primary-color;
}

.ant-checkbox-checked {
  &::after {
    border-color: $primary-color;
  }
}

.ant-checkbox + span {
  padding-left: 0;
  margin-left: 8px;
}
