@use "../../../asset/style/" as *;

.my-vocab {
  padding: 76px 0;
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  min-height: calc(100vh - 76px);

  &__title {
    font-family: $f-family-0;
    font-weight: 600;
    margin: 24px 0;
  }

  &__sidebar {
    margin-top: 62px;
    border-radius: 4px;
    border: 1px solid #f1f1f1;

    &--link {
      padding: 16px;
      font-size: 16px;
      font-weight: 500;
      display: block;
      width: 100%;

      &:hover {
        color: $primary-color;
        background-color: $primary-color-light;
      }

      &-active {
        background-color: $primary-color-light;
        color: $primary-color;
        font-weight: 600;
      }
    }
  }

  &__open-sidebar {
    background-color: $primary-color;
    padding: 8px 12px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    position: fixed;
    top: 50vh;
    left: 0;
    cursor: pointer;
    display: none;
  }
}

.ant-tabs-tab {
  font-size: 16px;
}

@media (max-width: 576px) {
  .my-vocab {
    &__open-sidebar {
      display: block;
    }
  }
}
