@use "../../../asset/style/" as *;
.ant-drawer-content {
  position: unset;
}

.custom-drawer {
  display: relative;

  &__close {
    position: absolute;
    top: calc(50% - 32px);
    left: -32px;
    cursor: pointer;
    display: none;
    .custom-drawer__button {
      width: 64px;
      height: 64px;
      background-color: $primary-color;
      color: white;
      font-size: 16px;
      border-radius: 50%;

      .custom-drawer__wrapper {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        -webkit-box-pack: center;
        justify-content: center;
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.ant-drawer-body {
  padding: 0 !important;
}

.close {
  span {
    transform: rotate(-180deg);
    font-size: 16px;
    position: absolute;
    left: 12px;
    top: 24px;
  }
}

@media (max-width: 1000px) {
  .custom-drawer__close {
    display: block;
  }
}
