@use "../../../asset/style/" as *;

.profile {
  width: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-edit {
    padding: 10px 16px;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    background-color: $primary-color;
    color: #fff;
    display: flex;
    gap: 4px;
    cursor: pointer;
    &:hover {
      color: #fff;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }

  &-avatar {
    display: flex;
    justify-content: flex-start;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  &-main {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &-field {
    width: 50%;
    margin-top: 16px;
    &__header {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-bottom: 12px;

      img {
        width: 20px;
        height: 20px;
      }

      h1 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
    &__edit {
      cursor: pointer;
      color: $primary-color;
      i {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 650px) {
  .profile {
    &-field {
      width: 100%;
    }
  }
}
