@use "../../../asset/style/" as *;

.not-found {
  padding-bottom: 80px;
  padding-top: 100px;
  width: 100%;
  background-color: #68f5b828;

  h1 {
    font-weight: 700;
    font-size: 40px;
    color: $primary-color;
  }

  p {
    font-size: 13px;
    color: $color-text-secondary;
  }

  img {
    width: 500px;
    height: 350px;
    margin-bottom: 40px;
  }

  span {
    margin-top: 40px;
    font-size: 12px;
    color: $color-text-secondary;
  }
}
