@use "../../asset/style/" as *;

.vocab-list {
  padding: 16px 16px;
  border-radius: 6px;
  border: 1px solid #f1f1f1;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 24px;
    &--total {
      background-color: $primary-color;
      padding: 4px 8px;
      border-radius: 6px;
      color: #fff;
      font-size: 16px;
    }

    .ant-btn-primary {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  &__main {
    min-height: 320px;
    margin-bottom: 32px;
  }

  &__item {
    padding: 10px 6px 0;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    font-size: 16px;

    &--left {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    p {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $primary-color-light;
    }

    &--tools {
      // justify-self: flex-end;
      display: flex;
    }
  }

  &__pagination {
    text-align: center;
  }
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: $primary-color;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 2px $primary-color-light;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 2px $primary-color-light;
}
