@use "../../../asset/style/" as *;

.countdown {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  color: red;
  span {
    color: red;
    font-family: $f-family-0;
    font-size: 16px;
    line-height: 1;
  }
  .ant-statistic-content {
    line-height: 1;
    font-size: 14px;
  }

  .ant-statistic-title {
    font-family: $f-family-0;
    margin-bottom: 0;
    color: $color-red;
  }
}
