@use "../../asset/style/" as *;

.practice-layout {
  padding-top: 76px;
  width: 90%;
  max-width: 1140px;
  margin: auto;

  p {
    margin-top: 8px;
    font-size: 16px;
  }

  &-main {
    position: relative;
  }

  &-content {
    position: relative;
  }

  &-sidebar {
    width: 36%;
    min-height: 100vh;
    position: relative;
    overflow: auto;

    &-close {
      position: absolute;
      top: 50%;
      left: 0;
      border: none;
      width: fit-content;
      background-color: $primary-color;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 8px 12px;
      border-radius: 6px;
      cursor: pointer;
      i {
        font-size: 20px;
        color: #fff;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
  &-bar {
    position: fixed;
    top: 50%;
    right: 0;
    border: none;
    width: fit-content;
    background-color: $primary-color;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    i {
      font-size: 20px;
      color: #fff;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &-w-sidebar {
    width: 100%;
    max-width: 100%;
    display: flex;
    .practice-layout {
      &-main {
        width: 75%;
        padding: 0 30px;
      }
      &-sidebar {
        height: 100vh;
        overflow: visible;
        position: sticky;
        top: 0;
        right: 0;
      }
    }
  }
}
.back-top {
  padding: 12px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.4s linear;
  i {
    font-size: 16px;
    color: #fff;
  }
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: translateY(-5px);
  }
}

@media (max-width: 1200px) {
  .practice-layout {
    width: 100%;
    &-main {
      padding-left: 64px;
      padding-right: 64px;
    }
  }
}

@media (max-width: 1000px) {
  .practice-layout {
    width: 100%;
    &-main {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
    &-arrow {
      display: none;
    }
    &-bar {
      display: none;
    }
    &-sidebar {
      display: none;
    }
    &-w-sidebar {
      width: 100%;
      .practice-layout {
        width: 100%;
        padding: 0;
        &-main {
          width: 100%;
        }
        &-sidebar {
          display: none;
        }
      }
    }
  }
}
