@use "../../../asset/style/" as *;

.edit-vocab-modal {
  &__title {
    font-size: 20px;
    font-family: $f-family-0;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 5px;
  }

  .ant-divider-horizontal {
    color: #ccc;
    border-top: 1px solid;
  }

  &__btns {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    .back-btn {
      text-align: left;
      border: #ccc;
      background-color: #ccc
    }

    .action-btn{
      display: flex;
      gap: 12px;
    }
  }

  .ant-form-item-label {
    text-align: left;
    font-weight: bold;
  }
  .ant-form-item-label > label::after {
    content: " " !important;
  }
}
