@use "../../../asset/style/" as *;

.avatar-popover {
  width: fit-content;

  &__avatar {
    width: fit-content;
    cursor: pointer;
    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      &:hover {
        border: 2px solid $primary-color;
      }
    }
  }

  &-content {
    padding: 12px 16px;
    &__header {
      display: flex;
      align-items: center;
      gap: 8px;
      &--img {
        img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
      }

      &--in4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h6 {
          font-size: 13px;
          margin-bottom: 0;
          &:hover {
            color: $primary-color;
          }
          &:first-child {
            color: $primary-color;
          }
        }
      }
    }

    &__main {
      margin-top: 8px;
    }

    &__link {
      margin-top: 4px;
      a {
        font-size: 14px;
        i {
          margin-right: 8px;
        }
        &:hover {
          color: $primary-color;
        }
      }
    }

    &__sign-out {
      color: $color-red;
      font-size: 14px;
      cursor: pointer;
      margin-top: 4px;
      i {
        margin-right: 8px;
      }
    }
  }
}
.ant-popover-arrow {
  display: none;
}

.ant-popover-inner {
  border-radius: 6px;
}
