@use "../../../asset/style/" as *;

.sidebar-dropdown {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  .ant-select {
    height: fit-content;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    padding: 4px 12px;
    border-radius: 6px;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: auto;
  }
  .ant-select-single.ant-select-sm:not(.ant-select-customize-input)
    .ant-select-selector {
    height: auto;
  }
  .rc-virtual-list-holder-inner {
    width: max-content;
  }
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgb(96 211 198 / 20%);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $primary-color;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $primary-color;
  box-shadow: 0 0 0 2px rgb(96 211 198 / 20%);
}
