@use "../../../../asset/style/" as *;

.re-tell-lecture {
  width: 100%;
  margin-top: 30px;

  &__count-down {
    color: #ff6666;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__audio {
    padding: 7px 15px;
    background-color: #f5f6f7;
    border-radius: 24px;
    audio {
      width: 100%;
    }
  }

  &__progress {
    margin-top: 24px;
    background-color: #52c41a;
    border-radius: 8px;
    height: 2.5px;
    width: 100%;
  }

  &__body {
    border-radius: 5px;
    padding: 16px 0;
    align-items: center;
    background-color: rgb(241, 243, 244);
    margin-bottom: 20px;

    &-text {
      text-align: center;
      font-size: 16px;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .re-tell-lecture__microphone-button-start {
        margin-top: 8px;
        height: 50px;
        width: 50px;
        background-color: rgb(218, 220, 228);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        i {
          font-size: 30px;
        }
      }
      .re-tell-lecture__microphone-button-stop {
        margin-top: 8px;
        height: 50px;
        width: 50px;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        i {
          color: #fff;
          font-size: 30px;
        }
      }

      .tips {
        color: #999;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 10px;
        &:hover {
          color: #29d2bf;
          cursor: pointer;
          transition: all 0.3s;
        }

        &__icon {
          margin-right: 4px;
        }

        span {
          text-decoration: underline;
          font-size: 14px;
        }
      }
    }
  }

  p {
    font-size: 16px;
  }
}
