.home {
  width: 90%;
  margin: auto;
  &-container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 100px 20px;
    min-height: 100vh;
  }

  // &__section {
  //     margin: 24px 0;
  // }
}
