@use "../../../asset/style/" as *;

.custom-para {
  display: inline-block;
  border-radius: 5px;
  position: relative;
  overflow-wrap: break-word;
  word-break: normal;
  background-color: transparent;
  font-size: 1.15rem;
  font-size: 16px;

  p {
    font-size: 16px;
    margin: 0;
  }
}
