@use "../../../asset/style/" as *;

.shadowing-modal {
  width: 100%;
  max-width: 800px;
  &__audio {
    width: 100%;
  }
  &__main {
    margin: 24px 0;
    font-size: 14px;
    font-family: $f-family-0;
  }

  &__tags {
    display: flex;
    gap: 10px;
  }

  &__tag {
    font-size: 14px;
    padding: 2px 12px;
    border-radius: 16px;
    border: 1px solid #ccc;
    color: #ccc;

    &--pause {
      color: #ff6666;
      border-color: #ff6666;
    }

    &--loss {
      color: #ffce66;
      border-color: #ffce66;
    }

    &--linking {
      color: #3eb2e3;
      border-color: #3eb2e3;
    }
  }
}
