@use "../../../asset/style/" as *;

.page-header {
  padding: 20px 0px;
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;

  &__logo {
    img {
      width: 80px;
      height: 80px;
    }
  }
  &__right {
    margin-left: 20px;
    .page-header__title {
      display: flex !important;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      h2 {
        margin: 0px;
        color: $color-text;
        font-weight: 600;
        line-height: 28px;
        font-size: 24px;
        font-family: $f-family-0;
      }
      button {
        margin-left: 20px;
        background-color: #29d2bf;
        color: #fff;
        border: none;
        border-radius: 20px;
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }
  &__content {
    p {
      margin-top: 8px !important;
      color: $color-text-secondary;
      font-size: $fs-16;
      font-weight: 400;
      font-family: $f-family;
      line-height: 1.4;
      font-style: italic;
    }
  }
}

@media (max-width: 650px) {
  .page-header {
    padding: 10px 0px;
    &__logo {
      img {
        width: 60px;
        height: 60px;
      }
    }
    &__right {
      margin-bottom: 10px;
      .page-header__title {
        h2 {
          font-size: 22px;
          line-height: 28px;
        }
        button {
          display: none;
        }
      }

      .page-header__content {
        p {
          font-size: 13px;
        }
      }
    }
  }
}
