@use "../../../asset/style/" as *;

.search-page {
  padding: 126px 0;
  max-width: 1140px;
  margin: auto;
  min-height: 100vh;

  &__input-search {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    h4 {
      font-size: 24px;
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  &__pagination {
    text-align: center;
  }

  .ant-btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .ant-input-search .ant-input:focus,
  .ant-input-search .ant-input:hover {
    border-color: $primary-color;
  }
  .ant-input-group-wrapper {
    width: 420px;
  }
}
