.empty {
    min-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    i {
        font-size: 50px;
        opacity: .4;
    }

    p {
        font-size: 14px;
    }

}

