@use "../../asset/style/" as *;

.user-layout {
  max-width: 1140px;
  margin: auto;
  display: flex;
  min-height: 90vh;
  padding-top: 96px;
  &-main {
    padding: 0 32px;
    flex: 1;
  }

  &-sidebar {
    width: 300px;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    height: fit-content;
    padding: 20px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__link {
      display: flex;
      gap: 12px;
      align-items: center;
      &--icon {
        background-color: #f3f4f6ff;
        padding: 12px;
        border-radius: 50%;

        i {
          font-size: 16px;
        }
      }

      &:hover {
        color: $primary-color;
      }

      &--active {
        color: $primary-color;
        .user-layout-sidebar__link--icon {
          background-color: rgb(107 214 202 / 10%);
        }
      }
    }
    &__sign-out {
      margin-top: 24px;
      display: flex;
      gap: 8px;
      cursor: pointer;
      color: $color-red;
    }
  }
}

@media (max-width: 960px) {
  .user-layout {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .user-layout {
    flex-direction: column;
    gap: 20px;

    &-sidebar {
      width: 100%;
    }
  }
}
