@use "../../asset/style/" as *;

.account-form {
  width: 420px;
  height: fit-content;
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  text-align: center;

  &__header {
    font-size: 28px;
    font-family: $f-family-0;
    font-weight: 900;
    color: $primary-color;
    margin-top: 16px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto 40px;
  }

  &__foot {
    margin-top: 32px;
    p {
      font-size: 14px;
      font-family: $f-family-0;

      a {
        font-size: 14px;
        font-family: $f-family-0;
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }
}
