@use "../../../content/style/" as *;
.payment {
    padding-top: 60px;
    min-height: 100vh;
    transform: scale(0.95);

    &__title {
        padding-top: 15px;
        h1 {
            color: $primary-color;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    

    &__button {
        padding: 25px;
        width: 100%;
        text-align: center;

        button {
            min-width: 370px;
            height: 55px;
            background-color: #0080a35e;
            border-radius: 100px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            
        }
        .active {
            background-color: $primary-color;
            cursor: pointer !important;
    
            &:hover {
                background-color: #025f79;
            }
        }

        
    }

    
}