@use "../../../asset/style/" as *;

.blank-select {
  width: fit-content;
  display: inline-block;
  position: relative;
  .ant-select {
    min-width: 120px;
    span {
      color: $color-text;
    }
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: $primary-color;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: $primary-color;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    box-shadow: 0 0 0 2px rgb(96 211 198 / 20%);
  }

  &.right {
    .ant-select {
      width: 150px;
      span {
        color: $primary-color;
      }
    }

    .ant-select-selector {
      border-color: $primary-color;
      color: $primary-color;
      padding-left: 30px !important;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      z-index: 1;
      color: $primary-color;
    }
  }

  &.wrong {
    .ant-select {
      width: 150px;
      span {
        color: $color-red;
      }
    }
    .ant-select-selector {
      border-color: $color-red;
      color: $color-red;
      padding-left: 30px !important;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      z-index: 1;
      color: $color-red;
    }
  }

  span {
    color: $primary-color;
  }
}
