@use "../../../content/style/" as *;

.package-card {
    padding: 8px 25px;
    cursor: pointer;

    h5 {
        font-weight: 700;
        font-size: 18px;
        color: $primary-color;
        margin: 0;
    }

    transition: all 0.8s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.active {
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    transition: all 0.3s ease-in-out;
}