@use "../../../content/style/" as *;
.list-plan {
    padding: 25px 20px 0px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    

    &__container { 
        &--title {
            padding: 20px 0;
            padding-top: 0px;
            p {
                font-size: 15px;
                margin: 0;
            }
        }

        &--list {
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 25px;
        }
    }

    
}