@use "../../../asset/style/" as *;

.edit-profile {
  max-width: 960px;
  &__header {
    h1 {
      font-size: 24px;
      font-family: $f-family-0;
    }
    margin-bottom: 20px;
    text-align: center;
  }

  &__avatar {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: fit-content;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

    img {
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.2);
      z-index: -1;
    }

    &--icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      z-index: -1;
      i {
        font-size: 18px;
      }
    }

    &:hover {
      cursor: pointer;
      .edit-profile__avatar--icon {
        z-index: 10;
      }
      .overlay {
        z-index: 1;
      }
    }
  }

  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    &--btns {
      align-self: flex-end;
      display: flex;
      margin-top: 32px;
    }

    &--close {
      background-color: transparent;
      &:hover {
        cursor: pointer;
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

  &__input {
    width: 48%;
  }
}

@media (max-width: 650px) {
  .edit-profile {
    &__input {
      width: 100%;
    }
  }
}
