@use "../../../asset/style/" as *;

.search-page__categories {
  margin: 32px 0;
  &--group {
    display: flex;
    align-items: center;
    margin: 12px 0;
    h3 {
      width: 96px;
      font-weight: 700;
      font-size: 16px;
    }
    &-list {
      display: flex;
      align-items: flex-start;
      flex: 1;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &--cate {
    width: 96px;
    display: block;
    cursor: pointer;
    &-active {
      color: $primary-color;
      font-weight: 500;
      text-decoration: underline;
    }
    &:hover {
      color: $primary-color;
    }
  }
}
