@use "../../../asset/style/" as *;
.custom-title {
  position: relative;
  margin-bottom: 0;
  width: fit-content;
  h1 {
    color: $primary-color;
    font-size: 50px;
    font-weight: 800;
    line-height: 75px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 0;
  }
  span {
    font-family: $f-family-0;
    color: #333333;
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    top: 50%;
    left: 42px;
    font-weight: 400;
    letter-spacing: 0.8px;
    width: max-content;
  }
}

@media (max-width: 754px) {
  .custom-title {
    width: 90%;
    word-wrap: break-word;
    h1 {
      font-size: 36px;
    }
    span {
      width: 80%;
      word-wrap: break-word;
      font-size: 24px;
    }
  }
}
