@use "../../../asset/style/" as *;

.score-modal {
  width: 954px;
  padding: 12px;
  &-title {
    padding-bottom: 12px;
    h1 {
      font-size: 18px;
      font-weight: 700;
      color: $primary-color;
    }
  }

  &__progress {
    text-align: center;
    h3 {
      font-family: $f-family-0;
      font-weight: 700;
      font-size: 20px;
      color: $primary-color;
      margin-bottom: 24px;
    }
  }

  &-table {
    margin: 16px 0;
    width: 100%;
  }

  &-close {
    margin-left: 12px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &-loading {
    text-align: center;
    span {
      font-family: $f-family-0;
      font-size: 15px;
    }
  }

  .ant-progress-circle.ant-progress-status-success .ant-progress-text {
    font-family: $f-family-0;
    color: $primary-color;
  }
  .ant-progress-status-success
    .ant-progress-inner:not(.ant-progress-circle-gradient)
    .ant-progress-circle-path {
    stroke: $primary-color;
  }
}

@media (max-width: 1000px) {
  .score-modal {
    width: 100%;
    padding: 4px;
  }
}
