@use "../../../asset/style/" as *;

.lesson-tools {
  display: flex;
  align-items: center;
  gap: 20px;
  &-btn {
    i {
      font-size: 14px;
      color: #fff;
    }
  }
  &-dropdown {
    margin-top: 8px;
  }
  &-hint {
    cursor: pointer;
    transition: all 0.2s linear;
    img {
      width: 32px;
    }
    &:hover {
      transform: scale(115%);
    }
  }
}
