@use "../../../asset/style/" as *;

.cus-input {
  text-align: left;

  &__title {
    font-size: 14px;
    font-family: $f-family-0;
  }

  &__error {
    margin-top: 8px;
    color: $color-red;
  }

  &__wrap {
    position: relative;
  }
  &__input {
    border-radius: 6px;
    padding: 10px 16px;
    border: 1px solid #d9d9d9;
    width: 100%;
    &:focus {
      border-color: $primary-color;
      outline: $primary-color;
    }
    &--error {
      border: 1px solid $color-red;
    }
    &--eye {
      position: absolute;
      top: calc(50%);
      transform: translateY(-50%);
      right: 10px;

      i {
        font-size: 14px;
        color: $primary-color;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
