.audio-comment {
    padding: 0px 20px;
    &__author{
        color: rgba(0,0,0,0.65) !important;
        font-weight: 600;
        margin-right: 20px; 
        font-size: 15px; 
        .audio-comment__date{
            color: #666;
            font-size: 12px;
            margin-top: 10px;
        }    
            
    }

    &__content{
        font-size: 15px;
        color: #333;
    }

    &__avatar {
        display: initial !important;
        img {
            width: 48px !important;
            height: 48px !important;
        }
        
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .audio-comment__date{
            color: #666;
            font-size: 14px;
            margin-top: 10px;

            .audio-comment__tag {
                font-size: 14px;
                background-color: #fff;
                padding: 2px 15px;
                border-radius: 12px;
                span {
                    color: #000;
                }
            }
        }

        
    }

    

    
}