@use "../../asset/style/" as *;

.account-layout {
  background-color: $primary-color;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
