@use "../../../asset/style/" as *;

.ant-pagination-item-active,
.ant-pagination-item:hover,
.ant-pagination-options-quick-jumper input:hover {
  border-color: $primary-color;
}

.ant-pagination-item-active a,
.ant-pagination-item:hover a {
  color: $primary-color;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: $primary-color;
  color: $primary-color;
}
