@use "../../../content/style/" as *;

.list-package {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
        padding: 5px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 15px;
        background-color: #ececec;
    }
}

