@use "../../../asset/style/" as *;
.all-tab {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 12px 0;
    p {
      color: #999999;
      display: inline;
      font-size: 14px;
      line-height: 21px;
    }
  }
  &__practice-tab {
    margin-bottom: 30px;
  }

  &__pagination {
    margin-bottom: 30px;
    text-align: center;
    &--amount {
      font-size: 14px;
      font-family: $f-family;
      font-weight: 400;
    }
  }

  &-dropdown-n-reset {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.reset-modal {
  &__btn {
    color: rgb(255, 102, 102);
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-tab-item {
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  &__left {
    p {
      font-size: 14px;
      font-weight: 400;
      margin: 0px;
      color: rgba(0, 0, 0, 0.65);
    }
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    a {
      width: 60%;
      height: 22px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      &:hover {
        color: $primary-color;
      }
    }
  }
  &__right {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;

    i {
      font-size: 20px;
    }
  }

  &__tag {
    padding: 2px 8px;
    font-size: 12px;
    background-color: rgb(204, 204, 204) !important;
    color: #fff;
    border: none;
    font-weight: 500;
    border-radius: 4px;
  }

  &__tooltip {
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: $primary-color;
}

.ant-tabs-ink-bar {
  background: $primary-color;
}
