@use "../../../asset/style/" as *;

.blank-input {
  width: fit-content;
  display: inline-block;
  position: relative;
  .ant-input {
    width: 150px;
    border-radius: 4px;
    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgb(96 211 198 / 20%);
    }
    &:hover {
      border-color: $primary-color;
    }
    &-disabled {
      background: #fff;
      cursor: auto;
    }
  }

  &.right {
    .ant-input {
      border-color: $primary-color;
      color: $primary-color;
      padding-left: 30px;
      width: 180px;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      z-index: 1;
      color: $primary-color;
    }
  }

  &.wrong {
    .ant-input {
      border-color: $color-red;
      color: $color-red;
      padding-left: 30px;
      width: 180px;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      z-index: 1;
      color: $color-red;
    }
  }

  span {
    color: $primary-color;
  }
}
