@use "../../../../asset/style/" as *;

.writing {
  &-paragraph {
    border: none !important;
    padding: 0 !important;
  }
  &-form {
    width: 100%;
    position: relative;
    &.disabled {
      textarea {
        border: none;
      }
    }
    &-redo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ant-form-item-control-input-content {
  input {
    padding: 8px 16px;
    line-height: 26px;
    font-size: 16px;
    border-bottom-left-radius: 2px;
    border-width: 0;
    border-right: 0;
    border-bottom-width: 0.2rem;
    border-color: $primary-color;
    &:hover {
      border-color: $primary-color;
    }
  }
  .ant-input:focus {
    border-color: none;
    box-shadow: none;
    border-color: $primary-color;
  }
}
