@use "../../../asset/style/" as *;

footer {
  width: 100%;
  background: $primary-color;
}

.booostpte_copyright--blue {
  background-color: #007fa3;
  text-align: center;
  color: #ffffff;
  padding: 25px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  line-height: 1.2em;
  span {
    font-size: 14px;
  }
  a {
    color: #f9d923;
  }
}
