@use "../../../asset/style/" as *;

.lesson-title-container {
  margin: 32px 0 24px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
    h3 {
      font-size: 22px;
      color: $color-text;
      color: $primary-color;
      font-weight: 600;
      font-family: $f-family-0;
      letter-spacing: 0.6px;
      line-height: 1;
      margin: 0;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    &-dropdown {
      margin-right: 25px;
    }
    &-btn {
      color: #fff;
      border-radius: 20px;
      background-image: -webkit-linear-gradient(right, #60d3c6, #47d899);
      border-color: #29d2bf;
      text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
      box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
      i {
        margin-right: 4px;
      }

      &:hover {
        background-image: -webkit-linear-gradient(right, #60d3c6, #47d899);
        color: #fff;
        border: none;
      }
    }
  }
}

.lesson-title {
  &-arrow {
    font-size: 32px;
    color: $primary-color;
    cursor: pointer;
  }

  &-previous {
    transition: all 0.2s linear;
    &:hover {
      transform: translate(-6px, 0);
    }
  }

  &-next {
    transition: all 0.2s linear;
    &:hover {
      transform: translate(6px, 0);
    }
  }

  &-arrow-disabled {
    visibility: hidden;
  }
}
