@use '../../asset/style/' as *;

.logo {
  font-size: 32px;
  color: $primary-color;
  display: block;
  font-family: $f-family-0;
  font-weight: 900;
  padding: 10px 24px;
  img{
    width: 80px;  
  }

  &:hover {
    color: $color-text;
  }
  &.white {
    color: #fff;
  }
}