@use "../../asset/style/" as *;

.number-container {
    margin: 42px 0 32px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
    &__left{
        p {
            font-size: $fs-16;
            color: $text-color-1;
            font-family: $f-family;
        }
    }

    &__right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        &-dropdown {
            margin-right: 25px;
        }
        &-btn {
            color: #fff;
            // background-color: #29d2bf;
            border-radius: 20px;
            background-image: -webkit-linear-gradient(right,#60d3c6,#47d899);
            border-color: #29d2bf;
            text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
            box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
            i {
                margin-right: 4px;
            }

            &:hover {
                color: $primary-color;
                border: 1px solid $primary-color;
            } 
        }
    }
}

.number-menu{
    margin-top: 3px;
    padding: 10px;
    border-radius: 5px;
}