@use '../../asset/style/' as *;
.custion-title {
    position: relative;
    margin-bottom: 32px;
    width: fit-content;
    h1 {
        color: $primary-color;
        font-size:50px;
        font-weight:800;
        line-height:75px;
        text-transform: uppercase;
        opacity: .5;
    }
    span {
        font-family: $f-family-0;
        color:#333333;
        font-size: 32px;
        line-height: 32px;
        position: absolute;
        top: 50%;
        left: 42px;
        font-weight: 400;
        letter-spacing: .8px;
        width: max-content;
    }
}