@use "../../../asset/style/" as *;

.dictionary-modal {
  width: 954px;
  padding: 0px 24px 24px;

  &__head {
    padding-bottom: 24px;
    h1 {
      font-family: $f-family-0;
      font-size: 24px;
      color: $primary-color;
    }
    &--phonetic {
      display: flex;
      gap: 10px;
    }

    &--audio {
      span {
        margin-right: 8px;
      }
      i {
        font-size: 14px;
        color: $primary-color;
        cursor: pointer;
      }
    }

    border-bottom: 1px solid $primary-color;
  }

  &__main {
    margin-top: 24px;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // height: 100%;
    }

    &--title {
      font-size: 20px;
      font-family: $f-family-0;
    }

    &--list {
      font-size: 16px;
      h3 {
        color: $color-gray-2;
      }

      li {
        font-size: 16px;
        line-height: 1.6;
        margin: 4px 0;
      }
    }
  }

  &__close {
    text-align: right;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    a {
      color: $primary-color;
      font-weight: 600;
      &:hover {
        color: $primary-color;
        opacity: 0.8;
      }
    }
  }

  .user-def {
    justify-self: flex-start;
    h3 {
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 960px) {
  .dictionary-modal {
    width: 90%;
  }
}
