@use "../../../content/style/" as *;

.method {
    position: relative;
    padding: 8px 70px;
    border-radius:10px;
    border: 3px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    img {
        width: 40px;
        height: 35px;
    }
    

    p {
        font-weight: 600;
        font-size: 19px;
        color: $tertirary-text-color;
        margin: 0;
    }

    &__icon {
        padding: 5px;
        position: absolute;
        top: 3px;
        right: 3px;
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        i {
            font-size: 12px;
            color: #fff;
        }
    }

}

.active {
    border-color: $primary-color !important;

    p {
        color: $primary-color
    }
}