@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

// main color
$primary-color: #187498;
$primary-color-2: rgba(24 116 152 / 10%);
$secondary-color: #36ae7c;
$tertiary-color: #f9d923;
$primary-color-light: rgba(24 116 152 / 10%);
$primary-color-dark: #025f79;
$color-black-0: #29303b;
$color-white-0: #fff;
$color-red: #df1f1f;
$color-red-0: #ec5252;
$color-red-1: #521822;
$color-red-2: #992337;
$color-purple: #6e1a52;
$color-gray: #f5f5f5;
$color-gray-1: rgba(20, 23, 28, 0.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5: #f7f8fa;
$color-gray-6: #dedfe0;
$color-gray-7: #dedede;
$color-gray-8: #7d7d7d;
$color-gray-9: #f3f9fc;
$color-black-light: #505763;
$color-white-cream: #f2f3f5;
$color-black-dark: rgba(20, 23, 28, 0.1);
$color-yellow: #ffbb33;
$color-yellow-1: #f4c150;
$color-blue: #007791;
$color-trans: transparent;

$success-color: #00da6f;
$color-grey: #838383;
$color-text: #1f1d0d;
$color-text-secondary: #29281e;
$color-text-tertiary: #838383;
$bg-color: #ffffff;
$bg-grey-color: #f6f6f6;
$bg-blue-color: #f5fbfd;
$bg-green-color: #f7fcfa;
$bg-yellow-color: rgb(249 217 35 / 10%);
$bg-red-color: rgb(223 31 31 / 10%);

// variable font-size
$fs-15: 15px; //default
$fs-16: 16px;
$fs-14: 14px;
$fs-13: 13px;
$fs-20: 20px;
$fs-24: 24px;
$fs-40: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;

//variable line-height
$line-height-0: 1.43; //default

$f-family: "Open Sans", sans-serif;
$f-family-0: "Poppins", sans-serif;
$f-family-1: "Inter", sans-serif;
// Roboto, sans-serif

// Sidebar width
$sb-width: 280px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold-2: 900;
$fw-bold: bold;

//break points
// $breakpoints:(
//     'extra-large': 1200px,
//     'large' : 900px,
//     'medium' : 678px,
//     'small' : 576px,
// );

$large: 900px;
$extra-large: 1200px;
