@use "../../../asset/style/" as *;

.mega-menu {
  width: fit-content;
  .ant-row {
    width: 100%;
  }
  &__container {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 10px;
    margin: auto;

    .mega-menu__item-title {
      padding: 8px 0px 0 16px;
      font-size: $fs-16;
      text-transform: uppercase;
      color: $color-text;
      font-family: $f-family-0;
      font-weight: 700;
      margin: 8px 0 16px;
      position: relative;
      &::after {
        content: "";
        border-bottom: 2px solid $primary-color;
        width: 60px;
        position: absolute;
        bottom: -8px;
        left: 16px;
      }
    }
    .ant-menu-item {
      font-size: $fs-14;
      color: $color-text-secondary;
      font-family: $f-family;
      padding-left: 16px !important;
      line-height: 32px;
      height: 32px;
      margin: 0;
      &:hover {
        color: $primary-color;
      }
      &:active {
        color: $primary-color;
      }
    }
    .ant-menu-inline .ant-menu-item:not(:last-child),
    .ant-menu-vertical-left .ant-menu-item:not(:last-child),
    .ant-menu-vertical-right .ant-menu-item:not(:last-child),
    .ant-menu-vertical .ant-menu-item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &__link--item {
    &:active {
      color: $primary-color;
    }
    &:hover {
      color: $primary-color !important;
    }
  }
}
