@use "../../../asset/style/" as *;

.countdown {
  margin-bottom: 12px;
  span {
    color: $color-red;
    font-family: $f-family-0;
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    img {
      width: 36px;
    }
  }
}
