@use "../../asset/style/" as *;

.tested-popover__btns {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  &--no {
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 4px;
    padding: 2px 6px;
    cursor: pointer;
    &:hover {
      background-color: #f1f1f1;
    }
  }
  &--yes {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    border-radius: 4px;
    padding: 2px 6px;
    cursor: pointer;
    color: #fff;
  }
}
