.practice-body {
  width: 100%;
  margin-top: 16px;

  &__count-down {
    color: #ff6666;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__paragraph {
    border-radius: 5px;
    border: 1px dashed rgb(153, 153, 153);
    padding: 20px;
    line-height: 1.8rem;
    position: relative;
    overflow-wrap: break-word;
    word-break: normal;
    background-color: transparent;
    font-size: 1.15rem;

    .paragraph__content {
      padding: 8px 0px;
      font-size: 18.4px;
      color: $color-text;
      font-family: $f-family;
      line-height: 36.8px;
      &:hover {
        cursor: pointer;
        background-color: $primary-color-2;
      }
    }
  }

  &__body {
    margin-top: 32px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }

  .practice-timer-n-test {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
}
.practice-empty {
  padding-top: 76px;
  background-color: #fff;

  .ant-empty {
    margin-top: 100px;
    background-color: #fff;
  }
}
