@use "../../../content/style/" as *;

.plan-card {
    position: relative;
    padding: 20px 30px;
    border-radius:10px;
    border: 3px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
    
    h3 {
        font: normal normal 700 26px/36px "Open Sans", sans-serif;
        margin: 0;
    }

    p {
        font-weight: 600 ;
        font-size: 19px ;
        color: $primary-color ;
        margin: 0;
    }

    &__icon {
        padding: 5px;
        position: absolute;
        top: 3px;
        right: 3px;
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        i {
            font-size: 12px;
            color: #fff;
        }
    }

    &__list {
        padding-top: 10px;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            li {
                font-size: 13px;
                display: flex;
                gap: 8px;
                align-items: center;
                text-transform: capitalize;

            }
        }
    }

}

.card-active {
    border: 3px solid $primary-color;

    .plan-card__list {
        ul {        
            li {
               i {
                   color: $primary-color !important;
               }

            }
        }
    }
}