@use "../../asset/style/" as *;

.sort-items{
    &__paragraph {
        cursor: move;
        margin-bottom: 20px;
        padding: 20px 25px;
        background-color: #fff;
        border: 1px dashed #000;
    }
}