@use "../../../asset/style/" as *;

.audio-record {
  &__progress {
    margin-top: 24px;
    background-color: #52c41a;
    border-radius: 8px;
    height: 2.5px;
    width: 100%;
  }
  &__body-warning {
    margin-top: 24px;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 102, 102);
    padding: 16px 0;
    text-align: center;
    align-items: center;
    font-size: 17px;
  }

  &__body {
    border-radius: 5px;
    padding: 20px 0;
    align-items: center;
    background-color: rgb(241, 243, 244);
    margin-bottom: 20px;

    &-text {
      margin: 10px;
      text-align: center;
      font-size: 16px;
      font-family: $f-family;
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .audio-record__microphone-button-start {
        margin-top: 8px;
        height: 50px;
        width: 50px;
        background-color: rgb(218, 220, 228);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        i {
          font-size: 30px;
        }
      }
      .audio-record__microphone-button-stop {
        margin-top: 8px;
        height: 50px;
        width: 50px;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        i {
          color: #fff;
          font-size: 30px;
        }
      }

      .tips {
        color: #999;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 10px;
        &:hover {
          color: #29d2bf;
          cursor: pointer;
          transition: all 0.3s;
        }

        &__icon {
          margin-right: 4px;
        }

        span {
          text-decoration: underline;
          font-size: 14px;
        }
      }
    }
  }
}
