@use "../../asset/style/" as *;

.tested-form {
  width: 100%;
  &__header {
    border-bottom: 1px solid #f1f1f1;

    h1 {
      font-size: 22px;
      font-family: $f-family-0;
      color: $primary-color;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }

  &__main {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    h3 {
      font-family: $f-family;
      font-size: 16px;
      font-weight: 600;
      span {
        color: $color-red;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.ant-picker:hover,
.ant-input:hover,
.ant-picker-focused {
  border-color: $primary-color;
}

.ant-picker-focused,
.ant-input:focus {
  box-shadow: 0 0 0 2px rgb(95 209 196 / 20%);
}

.ant-picker-today-btn,
.ant-picker-header-view button:hover {
  color: $primary-color;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: $primary-color;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid $primary-color;
}
